[submodule "src/native/blake2"]
	path = src/native/blake2
	url = https://github.com/BLAKE2/BLAKE2.git
[submodule "src/native/tiny-bignum-c"]
	path = src/native/tiny-bignum-c
	url = https://github.com/kokke/tiny-bignum-c.git
