[submodule "src/native/blake2"]
	path = src/native/blake2
	url = https://github.com/BLAKE2/BLAKE2.git
[submodule "src/native/uint128_t"]
	path = src/native/uint128_t
	url = https://github.com/calccrypto/uint128_t.git
